body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body > * {
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes button-animation {
    0% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.myButton {
    animation-name: button-animation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    text-transform: capitalize;
    font-size: 17px;
    color: black;
    width: 150px;
    height: 70px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.1);
    background-size: contain;
}

.myButton.color-1 {
    border-top: 1px solid #4285F4;
}

.myButton.color-2 {
    border-top: 1px solid #34A853;
}

.myButton.color-3 {
    border-top: 1px solid #ED8805;
}

.myButton.color-4 {
    border-top: 1px solid #EA4335;
}

.myButton.color-1:hover {
    background-color: #4285F4;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4),0 2px 15px rgba(0,0,0,0.2);
}

.myButton.color-2:hover {
    background-color: #34A853;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4),0 2px 15px rgba(0,0,0,0.2);
}

.myButton.color-3:hover {
    background-color: #ED8805;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4),0 2px 15px rgba(0,0,0,0.2);
}

.myButton.color-4:hover {
    background-color: #EA4335;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4),0 2px 15px rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
}

.myButton:nth-child(4n+1),.myButton:nth-child(4n+2),.myButton:nth-child(4n+3),.myButton:nth-child(4n) {
    background: none;
    background-size: cover;
}

.subtitles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width: 620px) {
    .subtitles {
        grid-template-columns:repeat(2,1fr);
    }
}

.subtitles > a {
    justify-self: center;
}

.subtitles > a:nth-child(n) {
    margin-top: 40px;
}

h1 {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background:#262626;
        filter: grayscale(40%);
        color: #ccc;
    }

    body * {
        color: #ccc !important;
    }
}
